.login {
  display: flex;
  height: 100vh;
  padding: 28px 0;
  margin: 0 0 60px 0;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 695px;
}

.login__title {
  margin: 0 0 10px 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  color: #141414;
}

.login__error {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #FF4D4F;  
}

.login__buttonblock {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


