.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  position: relative;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 45px 0 60px 0;
  max-width: 695px;
  width: 100%;
  box-shadow: 0px 12px 43px -2px #00000014;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: #141414;
  margin: 0;
}

.modal__button {
 position: absolute;
 top: 9px;
 right: 9px;
}

