.textarea__label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textarea__label-required {
  display: inline-block;
  margin: 0 4px 0 0;
  color: #FF4D4F;
}

.textarea__label-text {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000D9
}

.textarea__textarea {
  display: block;
  height: 100px;
  padding: 5px 12px;
  border: 1px solid #D9D9D9;
  background: #FFFFFF;
  border-radius: 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000D9;
}

textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}

.textarea__errorblock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.textarea__error {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #FF4D4F;
}

.textarea__counter {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #00000040;
}

.textarea--error {
  border: 1px solid #FF4D4F;
}