@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/poppins/poppins-light-webfont.woff2') format('woff2'),
      url('../assets/fonts/poppins/poppins-light-webfont.woff') format('woff');
  font-weight: 300;
  /* light = 300 */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/poppins/poppins-regular-webfont.woff2') format('woff2'),
      url('../assets/fonts/poppins/poppins-regular-webfont.woff') format('woff');
  font-weight: 400;
  /* regular = 400 */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/poppins/poppins-medium-webfont.woff2') format('woff2'),
      url('../assets/fonts/poppins/poppins-medium-webfont.woff') format('woff');
  font-weight: 500;
  /* medium = 500 */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/poppins/poppins-semibold-webfont.woff2') format('woff2'),
      url('../assets/fonts/poppins/poppins-semibold-webfont.woff') format('woff');
  font-weight: 600;
  /* semibold = 600 */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/poppins/poppins-bold-webfont.woff2') format('woff2'),
      url('../assets/fonts/poppins/poppins-bold-webfont.woff') format('woff');
  font-weight: 700;
  /* bold = 700 */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/opensans/OpenSans-Regular.woff2') format('woff2'),
      url('../assets/fonts/opensans/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  /* regular = 400 */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/opensans/OpenSans-Bold.woff2') format('woff2'),
      url('../assets/fonts/opensans/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  /* bold = 700 */
  font-style: normal;
  font-display: swap;
}
