@import './fonts.css';

:root {
  font-family: 'Poppins', sans-serif;  
  font-weight: 400;
  color: #141414;

  color-scheme: light dark;
  background-color: #F9F9F9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

.container {
  max-width: 1172px;
  margin: 0 auto;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button {
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
