.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 60px 0;
}

  .home__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
    margin: 0 0 60px 0;
    list-style: none;
}

.home__card-list li {
  display: flex;
  width: calc(33.333% - 20px);
  min-width: 370px;
}

@media (max-width: 1200px) {
  .home__card-list li {
    width: calc(50% - 15px);
  }
}

@media (max-width: 800px) {
  .home__card-list li {
    width: 100%;
  }
}
