.comment {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.comment__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.comment__date {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #868383;
}

.comment__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}