.create {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0 0 60px 0;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 28px 0;
}

.create__title {
  margin: 0 0 20px 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0.04em;
}

.create__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 695px;
}

.create__input-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.create__button-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0 0 0;
}