.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0 0 60px 0;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 28px 0;
}

.review__title {
  margin: 0 0 20px 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  color: #141414;
}

.review__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 695px;
}


.review__buttonblock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 8px 0 0 0;
}