.account {
  display: flex;
  height: 100vh;
  gap: 31px;
  padding: 0 33px;
  border-radius: 16px;
}

.account__photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.account__photo img {
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 8px;
  background-color: white;
}

.account__info {
  display: flex;
  flex-direction: column;
}

.account__info-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.account__name {
  display: block;
  margin: 0 0 12px;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
}

.account__cyty {
  display: block;
  margin: 0 0 8px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #000000D9;
}

.account__city-value {
  display: block;
  margin: 0 0 33px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #000000;
}

.account__about {
  display: block;
  margin: 0 0 6px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000D9;
}

.account__about-description {
  width: 835px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}