.story {
  display: flex;
  padding: 28px 0 120px 0;
  margin: 0 0 60px 0;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.story__img {
  margin: 0 0 30px 0;
}

.story__container {
  padding: 0 101px;
}

.story__title {
  margin: 0 0 15px 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
}

.story__description {
  margin: 0 0 50px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.story__comments-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0;
  margin: 0 0 30px 0;
  list-style: none;
}

.story__button-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}